.layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 36px;
  max-width: 75vw;
  margin: auto;
}

.viewport {
  height: 800px;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: row;
  gap: 16px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {
  height: 100px;
}
