<header class="sticky-header">
  <mat-toolbar color="primary" role="toolbar" attr.aria-labelledby="toolbar-header">
    <mat-toolbar-row class="centered-row">
      <h1 id="toolbar-header">{{title}}</h1>
    </mat-toolbar-row>
    <mat-toolbar-row class="centered-row">
      <nav>
        <a mat-button routerLink="/blog">Blog</a>
        <a mat-button routerLink="/about">About</a>
      </nav>
      <mat-slide-toggle (change)="onThemeChange($event)" [checked]="isDarkMode">
        {{slideToggleLabel}}
      </mat-slide-toggle>
    </mat-toolbar-row>
  </mat-toolbar>
  <status></status>
</header>

<main>
  <router-outlet></router-outlet>
</main>
